<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/style/ContactProcess.css" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
        <link href="favicon.ico" rel="icon" type="image/x-icon">
        <title>Redirect</title>
    </head>
    <body>
        <h1>Thank you for your message!</h1>
        <button class="Button" onclick="window.location.href='http://localhost:<%- port %>';">Redirect to Home Page</button>
    </body>
</html>