<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/style/IndexPage.css" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
        <link href="favicon.ico" rel="icon" type="image/x-icon">
        <title>Nutrition 712</title>
    </head>
    <body>
        <img id="profile" src="/style/profile.jpeg" alt="profile">
        <div style="display:inline-block;">
            <h1><strong>utrition 712</strong></h1>
        </div>
        <br>
        <div class="dropdown">
            <button class="dropbtnMenu">Menu</button>
            <div class="content">
                <a href="/shakeMenu">Shake</a>
                <a href="/teaMenu">Tea</a>
            </div>
        </div>
        <div style="display:inline-block;">
            <button class="Button" onclick="window.location.href='http://localhost:<%- port %>/contact';">Contact</button>
        </div>
        <div style="display:inline-block;">
            <button class="Button" onclick="window.location.href='http://localhost:<%- port %>/info';">Nutrition Info</button>
        </div>
        <br><br><br><br><hr>
        <img id="cover" src="/style/cover.png" alt="cover">
        <hr>
        <div id="banner">
            Healthy&nbsp;Shakes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Energy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Teas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Protein&nbsp;Coffee's&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            GOOD&nbsp;VIBES
        </div>
        <hr>
        <h2><strong>Open Hours</strong></h2>
        <p>Monday:&nbsp;6:00 AM - 7:00 PM</p>
        <p>Tuesday:&nbsp;6:00 AM - 7:00 PM</p>
        <p>Wednesday:&nbsp;6:00 AM - 7:00 PM</p>
        <p>Thursday:&nbsp;6:00 AM - 7:00 PM</p>
        <p>Friday:&nbsp;6:00 AM - 7:00 PM</p>
        <p>Saturday:&nbsp;9:00 AM - 5:00 PM</p>
        <p>Sunday:&nbsp;9:00 AM - 3:00 PM</p>
        <hr>
        <h2><strong>Short Video About Us</strong></h2>
        <iframe width="720" height="405" src="https://www.youtube.com/embed/_PMbAkFci4E" style="border:none"></iframe>
        <hr>
        <p id="contactInfo">TEL:&nbsp;(712)&nbsp;796-4306&nbsp;|&nbsp;
            nutrition712@yahoo.com120&nbsp;|&nbsp;W&nbsp;Broadway,&nbsp;Council&nbsp;Bluffs,&nbsp;IA&nbsp;51503
        </p>
    </body>
</html>