<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style/ShakeMenu.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="favicon.ico" rel="icon" type="image/x-icon">
    <title>Shake Menu</title>
</head>

<body>
    <img id="pic1" src="/style/drink2.jpg" alt="choc shake">
    <img id="pic2" src="/style/drink3.jpg" alt="shakes">
    <filedset>
        <table id="table1">
            <caption><strong>Shakes Menu</strong></caption>
            <thead>
                <tr>
                    <th>House Favorties</th>
                    <th>Cookies & Cream</th>
                    <th>French Vanilla</th>
                    <th>Peanut Butter</th>
                </tr>
                </thead>
     
            <tbody>
                <tr>
                    <td>PB Cookie</td>
                    <td>Oreo Cookie</td>
                    <td>French Toast</td>
                    <td>PB Cookie</td>
                </tr>
                <tr>
                    <td>Birthday Cake</td>
                    <td>Frosted Animal Cookie</td>
                    <td>Vanilla Wafer</td>
                    <td>PB Waffle</td>
                </tr>
                <tr>
                    <td>Oreo Cookie</td>
                    <td>No-Bake Cookie</td>
                    <td>Sugar Cookie</td>
                    <td>PB & Jelly</td>
                 </tr>
                 <tr>
                     <td>Brownie Butter</td>
                     <td>Cookie Dough</td>
                     <td>Lemon Pound Cookie</td>
                     <td>Nutter Butter</td>
                 </tr>
                 <tr>
                     <td>French Toast</td>
                     <td>Wedding Cake</td>
                     <td>Vanilla Cheesecake</td>
                     <td>Cookie Monster</td>
                 </tr>
                 <tr>
                    <td>Banana Bread</td>
                    <td>Birthday Cake</td>
                    <td>Caramel Cheesecake</td>
                    <td>Captain Crunch</td>
                 </tr>
                 <tr>
                    <td>Blueberry Muffin</td>
                    <td>Oatmeal Cookie</td>
                    <td>White Chocolate Rasp</td>
                    <td>Snickers</td>
                 </tr>
                 <tr>
                    <td></td>
                    <td>S'mores</td>
                    <td>Rice Krispy</td>
                    <td>Reese's</td>
                 </tr>
             </tbody>
        </table>
        <table class="table2">
            <thead>
                <tr>
                    <th>Dutch Chocolate</th>
                    <th>Dulce de Leche</th>
                    <th>Pralines</th>
                    <th>Cafe Latte</th>
                 </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Butterfinger</td>
                    <td>Apple Pie</td>
                    <td>Butter Pecan</td>
                    <td>Coffee Cake</td>
                </tr>
                <tr>
                    <td>Brownie Batter</td>
                    <td>Snickerdoodle</td>
                    <td>Cinnamon Roll</td>
                    <td>Mocha Chunck</td>
                </tr>
                 <tr>
                    <td>German Choc Cake</td>
                    <td>Cinnamon Crunch</td>
                    <td>Pecan Cheesecake</td>
                    <td>Choc-Chip Frap</td>
                </tr>
                <tr>
                     <td>Turtle Cheesecake</td>
                     <td>Banana Foster</td>
                     <td>Fierro Rocher</td>
                     <td>Turtle Frap</td>
                 </tr>
                 <tr>
                    <td>Chocolate Almond</td>
                    <td>Salted Caramel Toffee</td>
                    <td>Maple Donut</td>
                    <td>Hazlenut Latte</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Caramel Latte</td>
                </tr>
            </tbody>
        </table>
        <table class="table2">
            <thead>
                <tr>
                    <th>Banana</th>
                    <th>Fruity Fruit</th>
                    <th>Mint</th>
                 </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Chuncky Monkey</td>
                    <td>Strawberry Banana</td>
                    <td>Mint Chocolate</td>
                </tr>
                <tr>
                    <td>Choc Covered Banana</td>
                    <td>Strawberry Cheesecake</td>
                    <td>Mint Cookie</td>
                </tr>
                 <tr>
                    <td>Banana Bread</td>
                    <td>Fruity Pebbles</td>
                    <td></td>
                </tr>
                <tr>
                     <td>Banana Split</td>
                     <td>Beach Sunrise</td>
                     <td></td>
                 </tr>
                 <tr>
                    <td>Banana Nut</td>
                    <td>Pina Colada</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </filedset>
    <table>
        <tfoot>
            <tr>
                <td class="table3">Acai Bowl &nbsp;</td>
                <td class="table3">Protein Oatmeal &nbsp;</td>
                <td class="table3">Fat Burning Donut &nbsp;</td>
            </tr>
        </tfoot>
    </table>
    <br>
    <button class="Button" onclick="window.location.href='http://localhost:<%- port %>';">HOME</button>
</body>
</html>