<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style/TeaMenu.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="favicon.ico" rel="icon" type="image/x-icon">
    <title>Tea Menu</title>
</head>

<body>
    <h1>Tea Menu</h1>
    <strong>Tea Flavors</strong>
        <ul style="list-style-type:square;">
            <li>Original</li>
            <li>Raspberry</li>
            <li>Lemon</li>
            <li>Peach</li>
            <li>Chai</li>
            <li>Cinnamon</li>
            <li>Peppermint</li>
        </ul>
        <strong>Level Meanings</strong>
        <ol>
            <li>Level one: tea and aloe</li>
            <li>Level two: tea, aloe and lift off</li>
            <li>Level three: tea, aloe, lift off and collagen</li>
        </ol>
        <strong>Booster</strong><br>
        probiotic&nbsp;/&nbsp;immunityfiber&nbsp;/&nbsp;collagen&nbsp;/&nbsp;hydration&nbsp;/&nbsp;
        beverage mix&nbsp;/&nbsp;lift off&nbsp;/&nbsp;BCAA's&nbsp;/&nbsp;pre workout
    <br><br>
    <fieldset>
        <legend><strong>LEVEL ONE TEAS</strong></legend>
        <ul style="list-style-type:square;">
            <li><strong>Tea flavor of choice</strong></li>
            <li><strong>Aloe</strong></li>
        </ul>
    </fieldset>
    <br>
    <fieldset>
        <legend><strong>LEVEL TWO TEAS</strong></legend>
        <ul style="list-style-type:square;">
            <li><strong>PINEAPPLE CRUSH-</strong>&nbsp;&nbsp;pomegranate gt, tropical LO and mandarin aloe</li>
            <li><strong>THE MAVERIC-</strong>&nbsp;&nbsp;raspberry tea, berry pom LO and cranberry aloe</li>
            <li><strong>LEMON DROP-</strong>&nbsp;&nbsp;lemon tea, lemon lime LO and cranberry aloe</li>
            <li><strong>LAVA TWIST-</strong>&nbsp;&nbsp;chai tea, orange LO and mango aloe</li>
            <li><strong>MIAMI SUNRISE-</strong>&nbsp;&nbsp;raspberry tea, orange LO and mango aloe</li>
            <li><strong>PEACH WAVE-</strong>&nbsp;&nbsp;peach tea, tropical LO and mango aloe</li>
            <li><strong>ARNOLD PALMER-</strong>&nbsp;&nbsp;lemon tea, lemon lime L0 and mandarin aloe</li>
            <li><strong>CORNHUSKER-</strong>&nbsp;&nbsp;raspberry tea, berry pom LO and mandarin aloe</li>
            <li><strong>HOT TAMALE-</strong>&nbsp;&nbsp;cinnamon tea, berry pom LO and cranberry aloe</li>
            <li><strong>GREEN MACHINE-</strong>&nbsp;&nbsp;pomegranate gt, lemon lime LO and cranberry aloe</li>
        </ul>
    </fieldset>
    <br>
    <fieldset>
        <legend><strong>LEVEL THREE TEAS</strong></legend>
        <ul style="list-style-type:square;">
            <li><strong>PRETTY IN PINK-</strong>&nbsp;&nbsp;pomegranate gt, berry pom LO, cranberry aloe and collagen</li>
            <li><strong>TROPIC SUNRISE-</strong>&nbsp;&nbsp;raspberry tea, tropical LO, mango aloe and collagen</li>
            <li><strong>THE DOWNTOWN-</strong>&nbsp;&nbsp;raspberry tea, orange LO, cranberry aloe and collagen</li>
            <li><strong>YOUNG FUN-</strong>&nbsp;&nbsp;lemon tea, tropical L0, mandarin aloe and collagen</li>
        </ul>
    </fieldset>
    <br>
    <button class="Button" onclick="window.location.href='http://localhost:<%- port %>';">HOME</button>
</body>
</html>